Source: dde-desktop
Section: testing/deepin
Priority: optional
Maintainer: Deepin Sysdev <sysdev@deepin.com>
Build-Depends: debhelper (>= 8.0.0), pkg-config, git, qt5-qmake, qt5-default, qtbase5-dev, libxcb-ewmh-dev, libqt5x11extras5-dev, libgsettings-qt-dev, libqt5svg5-dev, libgtk2.0-dev, libdtkbase-dev, libdtkutil-dev, libdtkwidget-dev, qttools5-dev-tools, qtbase5-private-dev, libboost-dev, libqt5xdg-dev
Standards-Version: 3.9.4
Homepage: http://www.deepin.org/

Package: dde-desktop
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 deepin-file-manager-backend, deepin-menu (>> 2.90.1)
Conflicts: dde-workspace (<< 2.90.5)
Description: deepin desktop-environment - desktop module
 Deepin desktop environment 2015 - desktop module.

Package: dde-desktop-dbg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, dde-desktop(= ${binary:Version})
Description: deepin desktop-environment - desktop dbg module
 Deepin desktop environment 2015 - desktop dbg module.
